.svn/
__history/
_Resource/
CodeSigning/
conflicted/
dck/
_dcu/
dcu/
_bin/
Languages/
Log/
Not Used/
Profiling/
Reports/
temp/
Temp.2/
testPrograms/
Win32/
.vscode/
*.~*
*.dcu
*.bpl
*.dcp
*.vlb
* conflicted copy *
*Exemplaar met conflict van *
*.bak
* - kopie.*
*.$$$
*.tmp 
*.bkm 
*.ddp 
*.cfg 
*.dof 
*.dsk 
*.ini 
*.hlp 
*.gid 
*.log 
*.map 
*.bkf 
Thumbs.db 
*.stat 
*.ddp 
*.bpl 
*.GID 
*.backup 
*.local 
*.bak 
*.gex
*.identcache
*.orig
*.tvsconfig
*.local
*.dsk
Roomer.res
AQTime/*_Results/
RoomerPMSRelease/*.exe
RoomerPMSRelease/Deployment/

